# Series

- pandas에서 사용하는 1차원 배열.
- index를 사용 할 수 있습니다.

In [2]:
import pandas as pd
import numpy as np

In [71]:
arr = np.arange(100, 110)
print(arr)

[100 101 102 103 104 105 106 107 108 109]

In [72]:
s = pd.Series(arr)
print(s)

0    100
1    101
2    102
3    103
4    104
5    105
6    106
7    107
8    108
9    109
dtype: int64

In [73]:
s = pd.Series(arr, dtype='float32')
print(s)

0    100.0
1    101.0
2    102.0
3    103.0
4    104.0
5    105.0
6    106.0
7    107.0
8    108.0
9    109.0
dtype: float32

In [74]:
s = pd.Series(['kim', 'lee', 'park'])
print(s)

0     kim
1     lee
2    park
dtype: object

In [75]:
s = pd.Series([1, 2, 3, '1', '2', 'hello'])
print(s)

0        1
1        2
2        3
3        1
4        2
5    hello
dtype: object

In [76]:
s[5]

'hello'

In [77]:
# 음수 인덱싱은 지원하지 않음
s[-1]

KeyError: -1

In [78]:
s.index

RangeIndex(start=0, stop=6, step=1)

In [79]:
names = pd.Series(['kim', 'lee', 'park'], index=['a', 'b', 'c'])

In [80]:
# names[0]
names.iloc[0]

'kim'

In [81]:
names['a']

'kim'

In [82]:
names.index

Index(['a', 'b', 'c'], dtype='object')

In [83]:
names.values

array(['kim', 'lee', 'park'], dtype=object)

In [84]:
names.ndim

1

In [85]:
names.shape

(3,)

## NaN(Not a Number)

In [86]:
s = pd.Series([1, 2, 3, np.nan])
print(s)

0    1.0
1    2.0
2    3.0
3    NaN
dtype: float64

## fancy indexing

In [87]:
f = ['banana', 'apple', 'grape', np.nan]
s = pd.Series(f, index=list('abcd'))
print(s)

a    banana
b     apple
c     grape
d       NaN
dtype: object

In [88]:
s[['d', 'a']]

d       NaN
a    banana
dtype: object

In [89]:
# s[[3, 1]]
s.iloc[[3, 1]]

d      NaN
b    apple
dtype: object

## bool indexing

In [90]:
s

a    banana
b     apple
c     grape
d       NaN
dtype: object

In [91]:
s[[True, False, True, False]]

a    banana
c     grape
dtype: object

In [92]:
s == 'banana'

a     True
b    False
c    False
d    False
dtype: bool

In [93]:
s[s == 'banana']

a    banana
dtype: object

In [94]:
s = pd.Series([1, 5, 3, 4, 2, 6])
s[s > 3]

1    5
3    4
5    6
dtype: int64

## 결측치(NaN) 처리

In [101]:
s = pd.Series([1, 3, np.nan, 10, 11, np.nan])
print(s)

0     1.0
1     3.0
2     NaN
3    10.0
4    11.0
5     NaN
dtype: float64

In [102]:
print(s.isnull())
print(s.isna())

0    False
1    False
2     True
3    False
4    False
5     True
dtype: bool
0    False
1    False
2     True
3    False
4    False
5     True
dtype: bool

In [103]:
print(s[s.isnull()])
print(s[s.isna()])

2   NaN
5   NaN
dtype: float64
2   NaN
5   NaN
dtype: float64

In [104]:
print(s[s.notnull()])
print(s[s.notna()])

0     1.0
1     3.0
3    10.0
4    11.0
dtype: float64
0     1.0
1     3.0
3    10.0
4    11.0
dtype: float64

## slicing

In [105]:
s[1:3]

1    3.0
2    NaN
dtype: float64

In [106]:
s = pd.Series([1, 2, 3], index=list('abc'))
s[1:2]
s['a':'b']

a    1
b    2
dtype: int64

# DataFrame
- 2차원 데이터 구조 (excel, sheet 와 유사)
- 행(row), 열(column) 구조

In [107]:
d = pd.DataFrame([
    [1, 2, 3],
    [4, 5, 6],
    [7, 8, 9]
])
d

   0  1  2
0  1  2  3
1  4  5  6
2  7  8  9

In [108]:
d = pd.DataFrame([
    [1, 2, 3],
    [4, 5, 6],
    [7, 8, 9]
], columns=['가', '나', '다'])
d

   가  나  다
0  1  2  3
1  4  5  6
2  7  8  9

In [109]:
info = {
    'name': ['kim', 'lee', 'park'],
    'age': [10, 20, 30]
}

In [110]:
info_df = pd.DataFrame(info)

In [111]:
info_df.index

RangeIndex(start=0, stop=3, step=1)

In [112]:
info_df.columns

Index(['name', 'age'], dtype='object')

In [113]:
info_df.values

array([['kim', 10],
       ['lee', 20],
       ['park', 30]], dtype=object)

In [114]:
info_df.dtypes

name    object
age      int64
dtype: object

In [115]:
info_df.T

        0    1     2
name  kim  lee  park
age    10   20    30

## index 지정

In [116]:
info_df.index = list('abc')

In [117]:
info_df

   name  age
a   kim   10
b   lee   20
c  park   30

## column 다루기

In [118]:
info_df.columns

Index(['name', 'age'], dtype='object')

In [119]:
print(info_df['name'])
print(type(info_df['name']))

a     kim
b     lee
c    park
Name: name, dtype: object
<class 'pandas.core.series.Series'>

In [120]:
info_df[['age', 'name']]

   age  name
a   10   kim
b   20   lee
c   30  park

In [121]:
info_df = info_df.rename(columns={'name': '이름'})

In [122]:
info_df

     이름  age
a   kim   10
b   lee   20
c  park   30

In [123]:
info_df.rename(columns={'이름': 'last_name'}, inplace=True)

In [124]:
info_df

  last_name  age
a       kim   10
b       lee   20
c      park   30